# Archivos compilados de CSS y sourcemaps
*.css
*.css.map

# Carpetas de distribución o build
/dist
build/*
!build/*.php
!build/*.php

# Directorios de dependencias
/node_modules

/vendor/

/imagenes
